*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.container{
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}
.header{
    /* background-color: #FDE9D2; */
    background: url(../img/bg1.jpg)right/contain no-repeat;
    background-color: #005051;
    color: wheat;
    margin-bottom: 40px;
    min-height: 100px;
    padding: 10px 23px 10px 10px;
    
}
.header__links{
    margin-right: 160px;
}
.header a:hover{
    color: rgb(185, 170, 252);
    transition: all .4s;
}
.header a{
    color: aliceblue;
}
.photo{
margin-left: 20px;
}
.name{
    font-size: 36px;
    margin-bottom: 15px;
}
.header__subtitle{
    font-size: 25px;
}
.header__bottom{
    display: flex;
    /* flex-direction: row-reverse; */
    align-items: center;
    justify-content: space-between;
}
.number{
    position: relative;
}

.number::after {
    content: attr(data-title); 
    color: #fefdff;
    position: absolute; 
    transition: all .4s;
    opacity: 0;
    right: -20%; top: -170%; 
    z-index: 1; 
    background: #005051;
    font-family: Arial, sans-serif; 
    font-size: 14px; 
    padding: 5px 10px;
    border: 1px solid #333; 
}

h3{
    margin: 60px 0 12px;
    font-size: 26px;
    font-family: Monokai, sans-serif;
}

.stack{
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.stack img{
    height: 75px;
}
.main__row{
    display: flex;
    justify-content: start;
}
.summary{
    width: 70%;
}
.summary__text{
    width: 80%;
}

.number:hover::after{
opacity: 1;
}
#bubble-wrapper{
    height: 500px;
    width: 100%;
    /* position: fixed;
    bottom: 0; */
    position: relative;
    overflow: hidden;
    pointer-events: none;
    
}
.bubble{
    height: max(300px, 30vw);
    width: max(300px, 30vw);
    background-color: rgb(33, 150, 243);
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 100%;
    animation: wave 2s ease-in-out infinite;
}
@keyframes wave {
    from, to {
        transform: translate(-50%, 0%);
    }
    50% {
        transform: translate(-50%, -23%);
    }
}



.portfolio{
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 90px;
    column-gap: 10px;
    justify-content: space-between;
}
.portfolio__card-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.portfolio__card{
    padding: 8px 0 0 0;
    border-radius: 10px;
    text-align: center;
    flex: 1 1 24%;
    border: 1px solid #005051;
    height: 300px;
    overflow-x:hidden;
    overflow-y:hidden;
}
.portfolio__card:hover .portfolio__card-img{transform: rotateY(180deg);}
.portfolio__card:hover .portfolio__card-text{transform: rotateY(360deg);}

.portfolio__card-img{
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    transition: all 1.5s;
    background-color: #fff;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border: 1px solid #005051;
    
}
.portfolio__card-text{
    transform: rotateY(180deg);
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transition: all 1.5s;
    backface-visibility: hidden;
}
.portfolio__card-back{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.portfolio__card-btn{
    width: 9em;
  height: 3em;
  border-radius: 30em;
  font-size: 15px;
  border: none;
  position: relative;
  /* overflow: hidden; */
  z-index: 1;
  box-shadow: 6px 6px 12px #c5c5c5,
  -6px -6px 12px #ffffff;
  outline: none;
  margin-top: 30px;
  justify-self: end;
}
.portfolio__card-btn::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #0fd850 0%, #f9f047 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}
.portfolio__card-btn:hover::before,button:focus::before  {
width: 9em;
}

.portfolio__card-rowinfo{
    display: flex;
    gap: 20px;
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 4200px;
}



@media (max-wigth: 700px){
    .portfolio__card{
        flex: 0 0 33%;
        background-color: #f00;
    }
}